<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swmaestro.roundup">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.HomeFeedActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/add_group_activity_label"
            android:name=".add_group.AddGroupActivity">
        </activity>
        <activity
            android:label="@string/following_list_ativity_label"
            android:name=".following.FollowingListActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:label="@string/setting_activity_label"
            android:name=".setting.SettingActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".club.ClubActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".club.AddPostActivity"/>
        <activity android:name=".club.DetailClubActivity"/>
    </application>

</manifest>
